<!--views/partials/header.ejs-->

<nav class='nav'>
        <ul class='heregram'>
                <li class='home'>
                        <a href='/'>Home</a>
                    </li>
            <li class='home'>
                <a href='/heregram'>Heregram</a>
            </li>
            <li class='gallery'>
                <a href='/'>
                    <i class="material-icons">photo_album</i>
                </a>
            </li>
            <li class='upload-photo'>
                <a href='/upload.html'>
                    <i class="material-icons">file_upload</i>
                </a>
            </li>
            <li class='upload-photo'>
                <a href='/login'>
                    login
                </a>
            </li>
            <li class='upload-photo'>
                <a href='/register'>
                    register
                </a>
            </li>
            <li class='upload-photo'>
                <a href='/profile'>
                    profile
                </a>
            </li>
            <li class='upload-photo'>
                    <a href='/reply'>
                        reply
                    </a>
                </li>
        </ul>
    </nav>